img {
    width: auto;
    height: auto;
}

button {
    margin: 0px 100px 30px 100px;
    border-radius: 8px;
    background-color: green;
    color: aliceblue;
    width: 100px;
}

button:hover {
    background-color: greenyellow;
    color: black;
}