ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    width: 200px;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 8px;
    background-color: aquamarine;
}

button:hover {
    background-color: rgb(1, 255, 170);
    color: aliceblue;
}